* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.gallery {
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
  @media screen and (min-width: 768px) {
    width: 1280px;
  }
  @media screen and (min-width: 320px) {
    width: 320px;
  }
}

.gallery__item {
  height: 430px;
  display: block;
  background-image: linear-gradient(to bottom, #fff5f6 50%, #ffffff 51%);
}

img {
  opacity: 1;
}
