* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
.gallery {
  width: 1280px;
}
/* .gallery > img {
  display: block;
  max-width: 100%;
  height: 430px;
} */

.gallery__item {
  height: 600px;
  display: block;
  background-image: linear-gradient(to bottom, #fff5f6 171px, #fff 259px);
}

img {
  opacity: 0;
}
